body {
  font-family: 'Poppins', sans-serif; 
  background-color: #f3cff3;
  background-image: url("https://images.pexels.com/photos/4553125/pexels-photo-4553125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: "raleway";
}

h1 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 20px; 
}

#orderDiv {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
}

.order {
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: #ffffff solid;
  width: 250px; 
  box-sizing: border-box; 
}

.order p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
}

.order .orderStatus {
  max-width: 200px;
  width: 100%;
}

.order p:nth-child(1){
  font-weight: bold;
  color: #443643;
  font-size: 20px;
}

.order p:nth-child(2) {
  font-weight: bold;
  color: #7b2f76;
}
